<!doctype html>
<html lang="en">
{% load static %}
{% load bootstrap4 %}
    <head>
        {% load bootstrap4 %}
        {% load custom_filters %}
        {% load static %}
        {% bootstrap_css %} 
    <meta charset="utf-8">
    <meta name="viewport" content= "width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel= "icon"href="{% static 'img/favicon.png' %}">
    <meta name="author" content="">


    <title>ProfLink</title>

 <!----------------------------CSS ---------------------------->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <link href="{% static 'css/bootstrap.min.css.map' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/offcanvas.css' %}" rel="stylesheet">
<!----------------------------CSS ---------------------------->
<!----------------------------JS ---------------------------->
    <script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/holder.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/offcanvas.js' %}" ></script>
    <script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'img/notify.js' %}" type="text/javascript"></script>
    <link href="{% static 'js/jquery.slim.min.js' %}" rel="stylesheet">
    <link href="{% static 'js/bootstrap.bundle.min.js' %}" rel="stylesheet">
    <link href="{% static 'js/bootstrap.js' %}" rel="stylesheet">
    <link href="{% static 'js/bootstrap.bundle.js.map' %}" rel="stylesheet">
    <link href="{% static 'js/tether.min.js' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.bundle.js' %} " type="text/javascript"></script>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!----------------------------JS ---------------------------->
  </head>

<body class="bg-secondary" onload="change()" style="height:100%">
        <div style = "height: 75px;">
            <!----УВЕДОМЛЕНИЯ---->
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} text-center m-2" id = "msg" role = "alert">
                {{ message }}
            </div>
            {% if message.tags == 'alert-success'%}
            <audio src="{% static 'audio/success.mp3' %}" autoplay></audio>
            {% endif %}
            {% if message.tags == 'alert-warning'%}
            <audio src="{% static 'audio/lag.mp3' %}" autoplay></audio>
            {% endif %}
            {% if message.tags == 'alert-danger'%}
            <audio src="{% static 'audio/error.mp3' %}" autoplay></audio>
            {% endif %}
            {% endfor %}
            {% endif %}
</div>

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
      <a class="navbar-brand pl-2" href="#">{{worker|short_name}}</a>        

      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav justify-content-center text-center">
            {% if user.groups.all.0.id == 1 %}
          <li class="nav-item ">
            <a class="nav-link" onclick="view(['adding','noted_works','shedule']);$('.offcanvas-collapse').toggleClass('open')" href="#">Учёт рабочего времени</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" onclick="view(['noted_works','adding','shedule']);$('.offcanvas-collapse').toggleClass('open')" href="#">Статистика</a>
          </li>
         <li class="nav-item" >
            <a class="nav-link" onclick="view(['shedule','adding','noted_works']);$('.offcanvas-collapse').toggleClass('open')" href="#">Расписание</a>
          </li>

          {% else %}
          <li class="nav-item" >
            <a class="nav-link" onclick="view(['noted_works','shedule']);$('.offcanvas-collapse').toggleClass('open')" href="#">Статистика</a>
          </li>
         <li class="nav-item" >
            <a class="nav-link" onclick="view(['shedule','noted_works']);$('.offcanvas-collapse').toggleClass('open')" href="#">Расписание</a>
          </li>

          {% endif %}
          <li class="nav-item" >
            <a class="nav-link  w-100" data-toggle="modal" data-target="#tool_forwarding" href="#" id="dropdown01" aria-haspopup="true" aria-expanded="false">Взять инструмент</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link  w-100" data-toggle="modal" data-target="#leave" href="#" id="dropdown01" aria-haspopup="true" aria-expanded="false">Logout</a>
           
          </li>
        </ul>

      </div>
    </nav>
                            




    <main onload="change()" class="container" role="main" class=" pr-0">


<!------------------------------------------ОТМЕТИТЬ РАБОЧИЕ ЧАСЫ---------------------------------------------------------->
{% if user.groups.all.0.id == 1 %}
  <div class="justify-content-center text-center" >
                <div class="col-md-6 order-md-6 jumbotron mx-auto bg-light" style="border-radius: 15px;max-width:400px;" id="adding">
                    {% if objects %}
                    <h2 class ="form-label">Заполнение данных </h2>
                        <form class="needs-validation" method="post" action="{% url 'notice_work' %} " enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="parentId">
                                <div class="mb-2">
                                    <label stylfor="">Объект</label>
                                <select id="object" name = "object" class="form-control text-center border border-primary w-100" required>
                                    
                                    {% for object in objects %}
                                    <option class="text-center"> {{object}}</option>
                                    {% endfor %}
                                </select>
                                </div>
                                <label for="">Кто был там </label>

                                <div id="worker_time" class="mb-2" >
                                <select  name = "worker_1" class="text-center border border-primary p-2 mr-1 jiga" style="width:78%;border-radius: 10px;" required>
                                    {% for worker in workers %}
                                    <option> {{worker|short_name}}</option>
                                    {% endfor %}
                                </select>
                                <input type="number" min="0" name="time_1"  class="text-center border border-primary p-2 " style="width:19%;border-radius: 10px;" placeholder="Время" required>
                                <input type="text" name="comment_1" class="w-100 text-center border border-primary my-2 p-2"style="border-radius: 10px;" placeholder="Комментарий (опционально)"> 

                            
                                </div>

                            </div>
                            <div class="mb-2">
                                <a id = "remove_part" class ="h5" style="color:grey;text-decoration: none;display:none;" onclick ="return deleteField(this)" href="#">Убрать пункт</a>
                            <a id = "add_part" class ="h5" style="color:red;text-decoration: none;" onclick="return addFieldtoPlace()" href="#">Добавить пункт</a>
                        </div>
                             <button class=" form-control btn btn-primary btn-lg my-3"  type="submit">Отправить данные</button>
                        </form>


                    {% else %}
                    <h1 class ="form-label"> No active objects </h1>
                    {% endif %}


                </div>
                   
                    {% if user.is_authenticated %}
                    {{pass}}
                    {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                    {% endif %} 
                </div>
{% endif %}
<!------------------------------------------ОТМЕТИТЬ РАБОЧИЕ ЧАСЫ-------------------------------------------------------->
<!-------------------------------------------------ОТРАБОТАННЫЕ ЧАСЫ-------------------------------------------------------->
<div class="justify-content-center text-center" >
                {% if user.groups.all.0.id == 1 %}
                 <div class=" col-md-5 col-lg-5 mx-auto jumbotron bg-light" id="noted_works" style="display: none; max-width:400px;border-radius: 15px;">
                {% else %}
                <div class=" col-md-5 col-lg-5 mx-auto jumbotron bg-light" id="noted_works" style="display: block; max-width:400px;border-radius: 15px;">
                {% endif %}
                    {% if history %}
                    <h4 class="mb-3">Закрытые объекты</h4>
                   <table class="table table-bordered justify-content-center">
        <tbody><tr class="justify-content-center">
            <td>Начальная дата:</td>
            <td><input type="text" id="min" ></td>
        </tr>
        <tr class="justify-content-center">
            <td>Конечная дата:</td>
            <td><input type="text" id="max"></td>
        </tr>
    </tbody></table>
                    <div style="overflow: auto;">
                        <table id = "noted_works_table" class="table table-bordered" style="overflow: auto;" >
                            <thead class="thead-dark" style="position: sticky">
                                <tr class="sticky">
                                    <th class="align-middle text-center" style="position: sticky; top: 0; z-index: 1;" scope="col">Объект</th>
                                    <th class="align-middle text-center" style="position: sticky; top: 0; z-index: 1;" scope="col">Дата работы</th>
                                    <th class="align-middle text-center" style="position: sticky; top: 0; z-index: 1;" scope="col">Время работы</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for note in history %}
                                <tr>

                                    <td class="col-md-2 col-sm-3 col-xs-6 ">{{note.obj}}</td>
                                    <td class="col-md-2 col-sm-3 col-xs-6 ">{{note.date}}</td>
                                    <td class="col-md-2 col-sm-3 col-xs-6 ">{{note.spended_time}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    {% else %}
                    <h1 class="mb-3">Пока нет оконченных работ</h1>
                    {% endif %}
                </div>
</div>
<!-------------------------------------------------ОТРАБОТАННЫЕ ЧАСЫ-------------------------------------------------------->


<!-------------------------------------------------РАСПИСАНИЕ-------------------------------------------------------->
<div class="justify-content-center text-center" >
                 <div class=" col-md-5 col-lg-5 mx-auto jumbotron bg-light" id="shedule" style="display: none; width:100%;border-radius: 15px;">
                    {% if shedule %}
                    <h4 class="mb-3">Расписание</h4>

                    <div style="overflow: auto;">
                        <table id = "shedule_table" class="table table-bordered" style="overflow: auto;" >
                            <thead class="thead-dark" style="position: sticky">
                                <tr class="sticky">
                                    <th class="align-middle text-center" style="position: sticky; top: 0; z-index: 1;" scope="col">Дата</th>
                                    <th class="align-middle text-center" style="position: sticky; top: 0; z-index: 1;" scope="col">Бригадир</th>
                                    <th class="align-middle text-center" style="position: sticky; top: 0; z-index: 1;" scope="col">Бригада</th>
                                    <th class="align-middle text-center" style="position: sticky; top: 0; z-index: 1;" scope="col">Объекты</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for note in shedule %}
                                <tr>

                                    <td class="col-md-2 col-sm-3 col-xs-6 ">{{note.date}}</td>
                                    <td class="col-md-2 col-sm-3 col-xs-6 ">{{note.leader}}</td>
                                    <td class="col-md-2 col-sm-3 col-xs-6 ">{% for worker in note.workers.all %}<p>{{worker|surname}}</p>{% endfor %}</td>
                                    <td class="col-md-2 col-sm-3 col-xs-6 ">{% for object in note.target_objects.all %}<p>{{object.name}}</p>{% endfor %}</td>

                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    {% else %}
                    <h1 class="mb-3">Пока нет записей в расписании</h1>
                    {% endif %}
                </div>
</div>
    </main>

<!-------------------------------------------------РАСПИСАНИЕ-------------------------------------------------------->

<script>

</script>

<script>



$(function () {

 $('body').on('change', 'select.jiga ', function() {
var selectedValues = [];
  $('select.jiga').each(function() {
    var thisValue = this.value;
    if(thisValue !== '')
      selectedValues.push(thisValue);
  }).each(function() {
    $(this).find('option:not(:selected)').each(function() {
      if( $.inArray( this.value, selectedValues ) === -1 ) {
        $(this).removeAttr('hidden');
      } else {
        if(this.value !== '')
          $(this).attr('hidden', 'hidden');
      }
    });
  });

  }).trigger('change'); // run at load
});
</script>


<script>
var countOfFields = 1; // Текущее число полей
var curFieldNameId = 1; // Уникальное значение для атрибута name
var maxFieldLimit = {{workers|length}}; // Максимальное число возможных полей


function addFieldtoPlace() {
 // Проверяем, не достигло ли число полей максимума

 countOfFields++;
 curFieldNameId++;

document.getElementById('remove_part').style.display = 'block';


 
 var div = document.createElement("div");
div.innerHTML ="<div id=\"worker_time_"+countOfFields+"\" class=\"mb-2\">"+
"<label style=\"display:block;\">"+countOfFields+"-й человек </label>"+

"<select name=\"worker_"+countOfFields+"\" class=\"text-center border border-primary p-2 mr-1 my-2 jiga\" style=\"width:78%;border-radius: 10px;\">"+

"{% for worker in workers %}"+
"<option>{{worker|short_name}}"+
"</option>"+
"{% endfor %}"+

"</select>"+

"<input name=\"time_"+countOfFields+"\" type=\"number\" min=\"0\" class=\"text-center border border-primary p-2\" style=\"width:19%;border-radius: 10px;\" placeholder=\"Время\" required>"+
"<input name=\"comment_"+countOfFields+"\" type=\"text\" class=\"w-100 text-center border border-primary p-2 my-2\" style=\"border-radius: 10px;\" placeholder=\"Комментарий (опционально)\">"+

"<div>";

 document.getElementById("worker_time").appendChild(div);

 
 if (countOfFields == maxFieldLimit) {

 document.getElementById("add_part").style.display = 'none';
 return false;
 }
 return false;
}
function deleteField(a) {
  if (countOfFields > 1)
  {

 document.getElementById("worker_time_"+countOfFields).remove();
 countOfFields--;
 document.getElementById("add_part").style.display = 'block';
  if (countOfFields == 1) {
 document.getElementById("remove_part").style.display = 'none';
 return false;
 }
 }
 return false;
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script> 
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!-- DataTables  & Plugins -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.1.2/css/dataTables.dateTime.min.css">
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>



<!------------------------МОДАЛЬНЫЕ ОКНА---------------------------------------->


<!------------------------ВЫХОД ИЗ УЧЁТКИ---------------------------------------->
                            <div class="modal fade" id="leave" tabindex="-1" aria-labelledby="leavelabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title justify-content-center text-center" id="leavelabel">Вы точно хотите выйти?</h5>
                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Закрыть"></button>
                                
                              </div>
                        <div class="modal-body justify-content-center text-center">
        <a class="dropdown-item text-center" href="{% url 'logout'%}?next={{request.path}}">Выйти</a>
                              </div>
                            </div>
                          </div>
                        </div>
<!------------------------МОДАЛЬНЫЕ ОКНА---------------------------------------->
<!--------------------------------МОДАЛЬНОЕ ОКНО ВЗЯТИЯ ИНСТРУМЕНТА-------------------------------->
                            <div class="modal fade justify-content-center text-center" id="tool_forwarding" tabindex="-1" aria-labelledby="tool_forwardinglabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header justify-content-center text-center">
                                <h5 class="modal-title" style ="padding-left: 100px;" id="cancellabel">Передача инструмента</h5>
                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Закрыть"></button>
                                
                              </div>
                        <div class="modal-body">
                            {% if orig_notes %}
                                <form class="needs-validation" method="post" action="{% url 'tool_forwarding' %} " enctype="multipart/form-data">{% csrf_token %}
                            
                        <div class="row g-3">
                            <div class="col-12">
                                <label for="tool" class="form-label">Инструмент</label>
                                <select onchange="change()" id="tool" name = "tool" class="form-control" required>
                                    {% for tool_note in orig_notes %}
                                    
                                    <option class = "text-center"> {{tool_note.tool_name}}
                                    </option>
                                    {% endfor %}

                                </select>
                                {% for tool_note in orig_notes %}
                                <input type="text" style="display:none" id="{{tool_note.tool_name}}" placeholder="" value="{{tool_note.worker_id}}" readonly>
                                {% endfor %}
                            </div>
                            <div class="col-12">
                                <label for="person" class="form-label">Ответственное лицо в данный момент</label>
                                <input type="text" class="form-control text-center" name ="worker_name"  id="worker_name" placeholder="" value="" readonly>
                            </div>
                            
                             <div class="col-12">
                             <input type="text" class="form-control text-center" name="comments" placeholder="Примечание" id="comments" >
                            </div>
                            <button class="w-100 btn btn-primary btn-lg"  type = "submit"  >Взять инструмент</button> 
                        </div>
                    </form>
                    {% else %}
                    <h5 class="modal-title"  id="cancellabel">Весь инструмент в данный момент оформлен на Вас</h5>
                    {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
<!--------------------------------МОДАЛЬНОЕ ОКНО ПЕРЕДАЧИ ИНСТРУМЕНТА-------------------------------->
  </body>
  

 <script>
    function change() {
       d = document.getElementById("tool").value;
       id = document.getElementById(d).value;
       document.getElementById("worker_name").value = id;
        }
</script>


  <script type = "text/javascript">
$.fn.dataTableExt.oApi.fnStandingRedraw = function(oSettings) {
    //redraw to account for filtering and sorting
    // concept here is that (for client side) there is a row got inserted at the end (for an add)
    // or when a record was modified it could be in the middle of the table
    // that is probably not supposed to be there - due to filtering / sorting
    // so we need to re process filtering and sorting
    // BUT - if it is server side - then this should be handled by the server - so skip this step
    if(oSettings.oFeatures.bServerSide === false){
        var before = oSettings._iDisplayStart;
        oSettings.oApi._fnReDraw(oSettings);
        //iDisplayStart has been reset to zero - so lets change it back
        oSettings._iDisplayStart = before;
        oSettings.oApi._fnCalculateEnd(oSettings);
    }
      
    //draw the 'current' page
    oSettings.oApi._fnDraw(oSettings);
};

  var minDate, maxDate;
 
 // Custom filtering function which will search data in column four between two values
 $.fn.dataTable.ext.search.push(
     function( settings, data, dataIndex ) {
         var min = minDate.val();
         var max = maxDate.val();
         var date = new Date( moment(data[1], 'YYYY-MM-DD').format('YYYY-MM-DD') );
       
  
         if (
             ( min === null && max === null ) ||
             ( min === null && date <= max ) ||
             ( min <= date   && max === null ) ||
             ( min <= date   && date <= max )
         ) {
             return true;
         }
         return false;
         var min = minDate.val();
         var max = maxDate.val();
         var date = new Date( moment(data[2], 'YYYY-MM-DD').format('YYYY-MM-DD') );
       
  
         if (
             ( min === null && max === null ) ||
             ( min === null && date <= max ) ||
             ( min <= date   && max === null ) ||
             ( min <= date   && date <= max )
         ) {
             return true;
         }
         return false;
     }
 );
  
 $(document).ready(function() {
     // Create date inputs
     minDate = new DateTime($('#min'), {
         format: 'YYYY-MM-DD'
     });
     maxDate = new DateTime($('#max'), {
         format: 'YYYY-MM-DD'
     });
    



     // DataTables initialisation
     var table = $('#noted_works_table').dataTable();
  
  $('#min').on('change', function () {
         table.fnStandingRedraw();
         table.draw(page);
     });
     // Refilter the table
     $('#min').on('click', function () {
         table.columns.adjust().draw();
     });

     $('#max').on('change', function () {
         table.fnStandingRedraw();
         table.draw(page);
     });
     $('#max').on('click', function () {
   table.columns.adjust().draw(); // Redraw the DataTable
});
 });

</script>

    <script >
        setTimeout(function(){
          if ($('#msg').length > 0) {
            $('#msg').remove();
          }
        }, 4000)
    </script>
<script>
    function view(divs_array){
            var divs = document.getElementsByTagName('div');
            document.getElementById(divs_array[0]).style.display = 'block';
            for(var i = 1; i < divs_array.length; i++){
            document.getElementById(divs_array[i]).style.display = 'none';
                }

    }
</script>
</html>